body {
  background-color: #fdfdf7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar {
  width: 300px;
  height: 300px;
}
.header {
  text-align: center;
}
.header_title {
  font-size: 25px;
  color: brown;
}
.header_subtitle{
  color: brown;
}

main {
  border: 1px solid darkgray;
  text-align: center;
  
}
.skills ol {
  list-style: none;
}

.separator {
  width: 50%;
  height: 3px;
  background-color: #8ac8ec;
}
.video {
  width: 800px ;
  height: 490px;
  border: none;
}
.hobbies {
  list-style: none;
}
.ed_table {
  border-collapse: collapse;
  width: 100%;
}
.ed_table th ,
.ed_table td {
  border: 1px solid black;
  padding: 10px;
}
 .quote {
  font-size: 32px;
 }
 form fieldset {
  margin: 0 auto;
  width: 600px;
 }

.form_submit {
  display: block;
  margin: 0 auto;
}
.form_control {
width: 100%;
}
footer {
  height: 100px;
  text-align: center;
  background: #f5f1f1;
}
.contact_links {
text-decoration: none;
color: black;
}